.Card {
    position: relative;
    left: 150px;
    margin: 100px 100px 100px 100px;
    flex: 33.33%;
    padding: 50px;
}

.Profile_Image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 10;
    position: relative;
}