#countDownBlob {
    background-color: #001220;
}

@font-face {
    font-family: Simplifica;
    src: url(../data/Fonts/Simplifica.ttf);
}

@font-face {
    font-family: Gudea;
    src: url(../data/Fonts/Gudea.ttf);
}

.IntroductionTitle {
    font-family: Gudea;
    font-size: 36px;
    text-align: center;
}

.SiteLaunch {
    margin: 0px;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}

#time-left {
    letter-spacing: 4px;
    font-size: 56px;
}

.IntroductionText {
    margin: 15px;
    font-family: Simplifica;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 30px;
}

#countDownSvg {
    width: 30%;
    margin: 0 auto;
    right: unset;
    position: static;
}

#countDownDays,
#countDownTime {
    fill: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}

@media only screen and (max-width: 800px) {
    #countDownSvg {
        width: 100%;
        margin: 0 auto;
        right: unset;
        position: static;
    }
}