#footer{
    background-color: var(--black);
    color: white;
    justify-content: center;
    height: 130px;
}

#footer_content{
    width: 1200px;
}

#footer_left{
    float: left;
    width: 50%;
}


#footer_emailInput, #footer_emailBtn{
    border-radius: 0;
}

#footer_emailInput{
    height: 30px;
    width: 250px;
    margin-top: 30px;
    border: 1px solid var(--gray);
    background-color: var(--black);
    color: white;
}

#footer_emailBtn{
    height: 34px;
    width: 100px;
    border: 0;
    background-color: var(--dark_grey);
    color: white;
}

#footer_emailBtn:hover{
    background-color: var(--gray);
    cursor: pointer;
}

#footer_list{
    
}