:root{
  --grey: #5e5e66;
  --light_grey: #909096;
  --dark_grey: #2e2e33;
  --black: #0B0C0D;
}

body {
  margin: 0;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  background-color: var(--black);
  color: white;
}

div {
  border: 1px solid red;
}

ul, li{
  list-style-type: none;
}

.family_title {
  font-family: Arial, Helvetica, sans-serif;
}

.font_l{
  font-size: 35px;
}
.font_m{
  font-size: 20px;
}
.font_s{
  font-size: 15px;
}