#termsEConditions {
    overflow-y: scroll;
    height: 400px;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--black);
}

::-webkit-scrollbar {
    width: 11px;
    border-radius: 10px;
    background-color: #000e1a;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

 ::-webki
#container {
    width: fit-content;
}

ul.ks-cboxtags li label:hover {
    background-color: #000e1a;
}

#closePolicyFormButton {
    position:absolute;
    right: 0;
    top:0;
    width:40px;
    height:40px;
    font-weight:bold;
    background-color:var(--mainRed);
    border:0px solid transparent;
    margin:15px;
    cursor: pointer;
}

.AnimatedUl {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    background-color: var(--mainRed);
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
    background-color: #ac202e;
}

#policyFormBtn {
    height: fit-content;
    padding: 5px 10px;
    background-color: var(--black);
    border: 0;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

#policyFormBtn:hover {
    background-color: #000e1a;
}

.buttonsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

ul.ks-cboxtags {
    list-style: none;
    margin:0;
    padding:0;
}

ul.ks-cboxtags li {
    display: inline;
}

ul.ks-cboxtags li label {
    display: inline-block;
    background-color: var(--black);
    border: 2px solid var(--black);
    color: #ffffff;
    border-radius: 20px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    padding: 2px 6px 2px 2px;
    content: "\2716";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label::before {
    content: "\2713";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label {
    border: 2px solid #3B8E3F;
    background-color: #3B8E3F;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
    display: absolute;
}

ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

ul.ks-cboxtags li input[type="checkbox"]:focus+label {
    border: 2px solid transparent;
}