svg {
    width: 70%;
    position: absolute;
    right: 0;
    enable-background: new 0 0 960 540;
    z-index: 100;
}

#navBarSvg {
    margin: 0px;
    padding: 0px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    pointer-events: none;
}

#navBarSvg .st0 {
    fill: #FA7268;
}

#navBarSvg .st1 {
    fill: #EB5967;
}

#navBarSvg .st2 {
    fill: #DA3F67;
}

#navBarSvg .st3 {
    fill: #C62368;
}

#navBarSvg .st4 {
    fill: #FFFFFF;
}

#navBarSvg path:hover text {
    /*   STA ROBA NON VA PERCHE' TEXT NON E' DENTRO PATH MA SE LI METTO DENTRO UN DIV NON VA UN CAZZO   */
    fill: #FFFFFFC2;
}

#navBarSvg path:hover {
    filter: brightness(60%);
}

#navBarSvg .st5 {
    font-family: 'Montserrat', sans-serif;
}

#navBarSvg .st6 {
    font-size: 17.6304px;
}

@media only screen and (max-width: 800px) {
    .navbar {
        position: absolute;
        width: 0px;
        height: 0px;
        z-index: -100;
        pointer-events: none;
        visibility: hidden;
    }
    svg {
        width: 100%;
        position: absolute;
        right: 0;
        enable-background: new 0 0 960 540;
        z-index: 100;
    }
}