#logo {
    width: 7%;
    margin: 20px 0 100px 5%;
    clear: both;
}

.introductionContent {
    float: left;
    padding-left: 5%;
    z-index: 20;
    position: relative;
}

.introductionImage {
    float: right;
    width: 40%;
    padding-right: 5%;
    margin-right: 0;
    z-index: 20;
    position: relative;
}

.introductionPreview {
    right: 20px;
    width: 100%;
}

#introductionList {
    padding: 0;
}

#introductionList li {
    margin-bottom: 4px;
}

.introductionDownloadArea {
    text-align: center;
    padding: 10px 10px;
    border-radius: 15px;
}

.introductionDownloadBtn {
    color: white;
    background-color: var(--mainRed);
    border: solid 3px transparent;
    margin: 20px 70px;
    padding: 5px 20px;
    min-width: 150px;
    border-radius: 15px;
    cursor: pointer;
}

.introductionDownloadBtn:hover {
    background-color: #c72434bd;
}

#introductionAllVersions {
    display: inline;
    margin: 20px 70px;
}

.checkSign {
    margin-right: 10px;
    color: #3B8E3F;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes drop {
    0% {
        bottom: 0px;
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0.6;
        bottom: -270px;
    }
}

@keyframes wave {
    0% {
        background-position: 0 160px;
        background-size: 170px 300px;
    }
    100% {
        background-position: 500px -18px;
        background-size: 250px 150px;
    }
}

.loader {
    width: 200px;
    height: 100px;
    background-color: black;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    line-height: 100px;
    color: #ffffff;
}

.loader span {
    z-index: 3;
}

.loader-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: transparent repeat-x 0 100px/150px 300px url('../data/waves/download-button.png');
    z-index: 2;
    animation: wave 1s ease-out forwards;
}

.drops {
    -webkit-filter: url('#liquid');
    filter: url('#liquid');
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    animation: fade-in .1s linear .4s forwards;
}

.drop1,
.drop2 {
    width: 21px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--mainRed);
}

.drop1 {
    width: 90px;
    height: 16px;
    bottom: 2px;
    border-radius: 0;
}

.drop2 {
    animation: drop 1.3s cubic-bezier(1, .19, .66, .12) .5s infinite;
}