.AboutUs_Title {
    margin-top: 400px;
    margin-left: 50px;
    font-size: xx-large;
    z-index: 30;
}

.about-us-disclaimer-button {
    position: relative;
    float: right;
    right: 330px;
    top: 597px;
    border-radius: 15px;
    border: 0 solid transparent;
    background-color: #d43b40;
    color: #FFFFFF;
    width: 100px;
    height: 20px;
}

.AboutUs_Text {
    width: 800px;
}

#aboutUsDisclaimerBoxVisible {
    position: relative;
    background-color: #001220;
    width: 700px;
    height: 500px;
    z-index: 100;
    top: 0px;
    border-radius: 15px;
    animation: showAboutUsBox .2s ease-out forwards;
}

#aboutUsDisclaimerBoxHidden {
    position: relative;
    background-color: #001220;
    width: 700px;
    height: 500px;
    z-index: 100;
    top: 0px;
    border-radius: 15px;
    animation: hideAboutUsBox .2s ease-in forwards;
    pointer-events: none;
}

@keyframes hideAboutUsBox {
    0% {
        opacity: 1;
        left: 600px;
    }
    100% {
        opacity: 0;
        left: 1000px;
    }
}

@keyframes showAboutUsBox {
    0% {
        opacity: 0;
        left: 0px;
    }
    100% {
        opacity: 1;
        left: 600px;
    }
}

.aboutUsDisclaimerText {
    position: relative;
    line-height: 25px;
    text-align: center;
    top: 50px;
}

.aboutUsDisclaimerTitle {
    position: relative;
    text-align: center;
    top: 10px;
}

.about-us-copyright {
    position: relative;
    float: right;
    left: 180px;
    top: 580px;
}