.AboutUs_Title {
    margin-top: 400px;
    margin-left: 50px;
    width: fit-content;
    font-size: xx-large;
    z-index: 30;
}

.aboutUsText {
    margin: 0 auto;
}

.emailImg {
    width: 70px;
    height: 70px;
    margin: 50px 50px 50px 0px;
}

.profileCards {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}

.contactLinks {
    margin: 0 auto;
    padding-bottom: 50px;
    width: fit-content;
}

.instaImg {
    position: relative;
    left: 20px;
    margin: 50px 50px 50px 0px;
    width: 70px;
    height: 70px;
}

#aboutUsDisclaimerBoxVisible {
    position: relative;
    background-color: #001220;
    width: 700px;
    height: 500px;
    bottom: 500px;
    z-index: 100;
    border-radius: 15px;
    animation: showAboutUsBox .2s ease-out forwards;
}

#aboutUsDisclaimerBoxHidden {
    position: relative;
    background-color: #001220;
    width: 700px;
    height: 500px;
    bottom: 500px;
    z-index: 100;
    border-radius: 15px;
    animation: hideAboutUsBox .2s ease-in forwards;
    pointer-events: none;
}

#DivDisclaimerBox {
    width: 0px;
    pointer-events: none;
    background-color: transparent;
    height: 0px;
    border: 0px solid transparent;
}

@keyframes hideAboutUsBox {
    0% {
        opacity: 1;
        left: 600px;
    }
    100% {
        opacity: 0;
        left: 1000px;
    }
}

@keyframes showAboutUsBox {
    0% {
        opacity: 0;
        left: 0px;
    }
    100% {
        opacity: 1;
        left: 600px;
    }
}

.Footer {
    display: inline-flex;
    position: absolute;
    right: 0;
    bottom: 0;
}

.about-us-disclaimer-button {
    padding-bottom: 20px;
    border-radius: 15px;
    border: 0 solid transparent;
    background-color: #d43b40;
    color: #FFFFFF;
    width: 100px;
    height: 20px;
}

.about-us-copyright {
    padding-bottom: 20px;
    margin:0 20px;
}

.aboutUsDisclaimerText {
    position: relative;
    line-height: 25px;
    text-align: center;
    top: 50px;
}

.aboutUsDisclaimerTitle {
    position: relative;
    text-align: center;
    top: 10px;
}

@media only screen and (max-width: 800px) {
    .AboutUs_Title {
        margin: 200% 10% 30% 10%;
        width: 100%;
        font-size: xx-large;
        z-index: 30;
    }
    
    .emailImg {
        width: 70px;
        height: 70px;
        margin: 10%;
    }
    .profileCards {
       flex-direction: column;        
    }
    .contactLinks {
        width: auto;
    }
    .instaImg {
        position: relative;
        left: 20px;
        margin: 10%;
        width: 70px;
        height: 70px;
    }
    
    .aboutUsDisclaimerTitle {
        position: relative;
        text-align: center;
        top: 10px;
    }
    .about-us-copyright {
        position: relative;
        font-size: x-small;
        width: fit-content;
    }
    .about-us-disclaimer-button {
        position: absolute;
        width: 0px;
        height: 0px;
        color: transparent;
        background-color: transparent;
        top: 0px;
        left: 0px;
        pointer-events: none;
    }
    
}