#TrapezoidShape {
    width: 0;
    height: 0;
    background-color: violet; /* ho disegnato del triangolo ma bisogna modificare qualcosa direi*/
    border-top: 300px solid var(--white);
    border-left: 0px solid transparent;
    border-right: 1345px solid var(--white);
    border-bottom: 250px solid transparent;
}

#InnerDiv {
    border-color: transparent;
    color: black;
}