/* 
    COLORS:
    --mainRed: #c72433;
    --grey:  #081A28
    --black: #001220;
*/

.root {
    -fx-control-inner-background-alt: -fx-control-inner-background;
}

.clickable {
    -fx-cursor: hand;
}

#noheader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

#noheader .scroll-bar:vertical {
    -fx-background-color: #202122;
    ;
}

#noheader .increment-button,
#noheader .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#noheader .scroll-bar:vertical .thumb {
    -fx-background-color: #202122;
    -fx-background-insets: 5, 5, 5;
    -fx-background-radius: 5;
}

#noheader .scroll-bar:horizontal {
    -fx-scale-x: 0;
    -fx-scale-y: 0;
    visibility: hidden;
    -fx-visibility: hidden;
}

.list-view .list-cell {
    -fx-background-color: #081A28;
    ;
    -fx-text-background-color: #cccccc;
}

.table-cell {
    -fx-alignment: center;
}

.table-row-cell {
    -fx-background-color: #c72433;
    -fx-border-color: #081A28;
    ;
    -fx-table-cell-border-color: #c72433;
    -fx-cell-size: 40px;
    -fx-border-width: 0 0 3 0;
    -fx-background-radius: 5.5 5.5 7 7;
    -fx-border-radius: 5.5px;
    -fx-text-background-color: #cccccc;
}

.table-row-cell:empty {
    -fx-table-cell-border-color: #081A28;
    ;
    -fx-background-color: #081A28;
    ;
    -fx-border-color: #081A28;
    ;
    -fx-cell-size: 40px;
    -fx-border-width: 0 0 3 0;
    -fx-background-radius: 5.5 5.5 7 7;
    -fx-border-radius: 5.5px;
}

.table-row-cell:selected {
    -fx-table-cell-border-color: #c72433f8;
    -fx-background-color: #c72433f8;
    -fx-border-color: #081A28;
    ;
    -fx-cell-size: 40px;
    -fx-border-width: 0 0 3 0;
    -fx-background-radius: 5.5 5.5 7 7;
    -fx-border-radius: 5.5px;
    -fx-text-background-color: #ffffff;
}

.table-row-cell:filled {
    -fx-cursor: hand;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #001220;
}

.text-field {
    -fx-background-color: #081A28;
    -fx-text-fill: #cccccc;
}

.tab {
    -fx-background-color: #081A28;
    ;
    -fx-border-radius: 5.5px;
}

#exit-button:hover {
    -fx-background-color: #c72433f8;
}

#exit-button {
    -fx-background-color: #081A28;
    ;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

#minimize-button {
    -fx-background-color: #081A28;
    ;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

#minimize-button:hover {
    -fx-background-color: #152735;
}

.tab:selected {
    -fx-background-color: #051725;
    -fx-border-radius: 5.5px;
}

.tab-pane:focused>.tab-header-area>.headers-region>.tab:selected .focus-indicator {
    -fx-border-color: #001220;
}

.tab-label {
    -fx-text-fill: #cccccc;
}

.check-box:checked {
    -fx-background-color: #cccccc;
}

.check-box .box {
    -fx-background-color: #081A28;
    ;
}

.combo-box .cell:selected {
    -fx-text-fill: #cccccc;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: #001220;
    -fx-text-fill: #eeeeee;
}

.list-view .scroll-bar:vertical {
    -fx-background-color: #081A28;
    ;
}

.list-view .increment-button,
.list-view .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #081A28;
    -fx-background-insets: 5, 5, 5;
    -fx-background-radius: 5;
}

.list-view .scroll-bar:horizontal {
    -fx-scale-x: 0;
}