.root {
    -fx-control-inner-background-alt: -fx-control-inner-background;
}

#noheader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.list-view .list-cell {
    -fx-background-color: #353535;
    -fx-text-background-color: #cccccc;
}

.table-cell {
    -fx-alignment: center;
}

.table-row-cell {
    -fx-background-color: #7f061d;
    -fx-border-color: #353535;
    -fx-table-cell-border-color: #7f061d;
    -fx-cell-size: 40px;
    -fx-border-width: 0 0 3 0;
    -fx-background-radius: 5.5 5.5 7 7;
    -fx-border-radius: 5.5px;
    -fx-text-background-color: #cccccc;
}

.table-row-cell:empty {
    -fx-table-cell-border-color: #353535;
    -fx-background-color: #353535;
    -fx-border-color: #353535;
    -fx-cell-size: 40px;
    -fx-border-width: 0 0 3 0;
    -fx-background-radius: 5.5 5.5 7 7;
    -fx-border-radius: 5.5px;
}

.table-row-cell:selected {
    -fx-table-cell-border-color: #6f061df8;
    -fx-background-color: #6f061df8;
    -fx-border-color: #353535;
    -fx-cell-size: 40px;
    -fx-border-width: 0 0 3 0;
    -fx-background-radius: 5.5 5.5 7 7;
    -fx-border-radius: 5.5px;
    -fx-text-background-color: #ffffff;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #252525;
}

.tab {
    -fx-background-color: #353535;
    -fz-border-radous: 5.5px;
}

.tab:selected {
    -fx-background-color: #303030;
    -fz-border-radous: 5.5px;
}

.tab-pane:focused>.tab-header-area>.headers-region>.tab:selected .focus-indicator {
    -fx-border-color: #252525;
}

.tab-label {
    -fx-text-fill: #cccccc;
}